<%- include('includes/head') %>
</head>

<body>
    <%- include('includes/nav') %>

    <main>
        <header class="container">
            <div class="jumbotron">
                <div class="container">
                    <h1 class="display-5">Painel de Gerenciamento</h1>
                    <p class="lead">Bem-vindo ao painel de gerenciamento do seu site, aqui você
                    poderá gerenciar seus produtos, trabalhos do portfólio e depoimentos.</p>
                </div>
            </div>
        </header>
    </main>

</body>

<%- include('includes/end') %>

</html>