<%- include('includes/head') %>
</head>

<body>
    <%- include('includes/nav') %>

    <main>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5> Depoimentos </h5>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>

</body>

    <%- include('includes/end') %>

</html>