<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer__developed">
                <p>© 2019 Copyright <b>Vidraçaria São Pedro</b></p>
                <p>Desenvolvido por <a href="https://www.evolveme.com.br"><img
                            src="/images/evolve.png" alt="Logo Evolve Soluções Web" height="45px" class="p-1"></a> </p>
            </div>
        </div>
    </div>
</footer>