   <%- include('includes/head')%>
   </head>

   <body class="scrollbar-inner wow fadeIn">
       <%- include('includes/main-header') %>

       <main>

           <section id="banner" class="img-webp">
               <div class="container">
                   <div class="row">
                       <div class="col-12 col-md-10 col-lg-9 text-left banner__text">
                           <h4 class="banner__text__title wow fadeInDown">Catálogo
                           </h4>
                           <h3 class="banner__text__subtitle wow fadeInDown">Navegue pelos nossos produtos!</h3>
                       </div>
                   </div>
               </div>
           </section>

           <section id="catalogo">
               <div class="container">

                   <div class="row d-flex justify-content-center mb-5 pb-3">
                       <h3 class="inner-title text-center pb-1"><span class="color-main">Catálogo</span> de produtos
                       </h3>
                       <div class="bottom-lines mb-2"></div>
                   </div>

                   <div class="row">
                       <div class="col-lg-3 mb-3">
                           <div class='flex-column nav-pills ' id='catalogFilterContainer' role='tablist'
                               aria-orientation='vertical'>
                               <a href='/catalogo' class='nav-link active' data-filter='destaques'>Destaques</a>

                               <a href='#'
                                   class='nav-link' data-filter="boxes">Boxes</a>

                               <a href='#'
                                   class='nav-link' data-filter="espelhosebisotes">Espelhos
                                   e Bisotês</a>
                               <a href='#'
                                   class='nav-link' data-filter="esquadrias">Esquadrias de
                                   Alumínio</a>
                               <a href='#'
                                   class='nav-link' data-filter="ferragens">Ferragens
                                   para Vidro</a>
                               <a href='#'
                                   class='nav-link' data-filter="guardacorpocorrimao">Guarda
                                   Corpo/Corrimão</a>
                               <a href='#'
                                   class='nav-link' data-filter="kitversatiktruck">Kit
                                   Versatik Truck</a>
                               <a href='#'
                                   class='nav-link' data-filter="vidrotemperado">Vidro
                                   Temperado</a>
                               <a href='#'
                                   class='nav-link' data-filter="telhadodevidro">Telhados
                                   de Vidro</a>
                               <a href='#'
                                   class='nav-link' data-filter="vidrocomum">Vidro
                                   Comum</a>
                               <a href='#'
                                   class='nav-link' data-filter="vidrolaminado">Vidro
                                   Laminado</a>
                           </div>
                       </div>
                       <div class="col-lg-9">
                           <div class="row">
                               <div id="loading" class="w-100">
                                   <div class="d-flex w-100 justify-content-center">
                                       <img src="/images/loading-2.gif" width="300" alt="">
                                    </div>
                               </div>
                           </div>
                           <div class="row" id="catalogo-products">

                           </div>
                           <div class="row">
                               <div class="col-12 d-flex justify-content-center">
                                    <button id="btnLoadMore" class="btn-main mt-3">Ver mais <i class="fa fa-plus"></i></button>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </section>
            <section id="contato" class="img-webp lazy" data-original="/images/banners/contact.jpg" data-webp="/images/banners/contact.webp">
               <div class="container">
                   <div class="row">
                       <div class="col-lg-4">
                           <div class="contact-us__text">
                               <h4 class="contact-us__text__title">Entre em contato!</h4>
                               <h5 class="contact-us__text__subtitle">Querendo tirar dúvidas ou fazer um orçamento? Use
                                   o
                                   formulário entre em
                                   contato com a gente!</h5>

                               <h4 class="contact-us__text__title mt-4">Ou pelos meios:</h4>

                               <ul class="contact-us__text__list">
                                   <li class="contact-us__text__list__item"><i class="fa fa-phone mr-2"></i><a
                                           href="">(53)3242-7579</a> / <a href="">(53)3242-1916</a></li>
                                   <li class="contact-us__text__list__item"><i class="fa fa-map-marker mr-2"></i>Rua São
                                       João, n.25, Bairro Getúlio Vargas - Bagé/RS</li>
                                   <li class="contact-us__text__list__item"><i class="fa fa-facebook mr-2"></i><a
                                           href="https://www.facebook.com/saopedrovidracaria/">fb.com/saopedrovidracaria</a>
                                   </li>
                               </ul>
                           </div>
                       </div>
                       <div class="col-lg-8">
                           <form action="/contato" method="POST">
                               <div class="row">
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <input placeholder="Seu nome" name="nome" type="text" class="form-control">
                                       </div>
                                   </div>
                                   <div class="col-md-6">

                                       <div class="form-group">
                                           <input placeholder="Seu e-mail" name="email" type="text"
                                               class="form-control">
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <input placeholder="Seu telefone" name="telefone" type="text"
                                               class="form-control">
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <input placeholder="Seu Endereço" name="endereco" type="text"
                                               class="form-control">
                                       </div>
                                   </div>
                                   <div class="col-md-6">

                                   </div>
                                   <div class="col-md-12">
                                       <div class="form-group">
                                           <textarea rows="4" name="mensagem"
                                               placeholder="Digite sua mensagem ou dados para o orçamento..."
                                               type="text" class="form-control"></textarea>
                                       </div>
                                   </div>
                               </div>
                               <button type="submit" class="btn-white--square--outline float-right">Enviar
                                   mensagem!</button>

                               <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                           </form>
                       </div>
                   </div>
               </div>
           </section>
       </main>
       <%- include('includes/footer') %>
       <script src="/js/catalogo.js" defer></script>
   </body>

   </html>