@font-face {
    font-family: 'robotolight';
    src: url('../css/fonts/roboto/light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../css/fonts/roboto/regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('../css/fonts/roboto/thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('../css/fonts/roboto/bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'roboto_slabbold';
    src: url('../css/fonts/robotoslab/bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

