<%- include('shop/includes/head') %>

<title>Vidraçaria São Pedro Bagé -
    <%= pageTitle %>
</title>
</head>

<body class="wow fadeIn">
    <main class="container" style="margin-top: 100px;">
        <div class="jumbotron text-center" style="background-color: #ffffff">
            <h1 class="display-4 color-main font-weight-bold">Página não encontrada! (404)</h1>
            <p class="lead">Sentimos muito, mas não encontramos nada para exibir de acordo com a URL requisitada. </p>
            <a href="/" role="button" class="btn-main">Voltar</a>
        </div>
    </main>
    <%- include('shop/includes/footer') %>
</body>

</html>