<footer id='myFooter'>
    <div class='container'>
        <p class='footer-copyright text-blue'>© 2018 Vidraçaria São Pedro</p>
        <p class='footer-copyright-creator'>Desenvolvido por Vitor Régis de Ramos</p>
    </div>
    <div class='footer-social'>
        <p> Painel de admnistração </p>
    </div>
</footer>